.flexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.flexRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.emptyBackground {
    background-color: #4C0827;
    max-width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printBackground {
    max-width: 2480px;
    width: 60vw;
    max-height: 3508px;

}

.characterDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 12px;
}

.skillStat{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 12px;
    padding: 4px 8px;
    max-width: 60%;
    min-width: 60%;
}

.savingThrows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savingThrow{
    display: flex;
}

.skill{
    display: flex;
}

.characterStats {
    max-width: 40%;
    min-width: 40%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.characterStat {
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
}

.emptyFieldset {
    height: 26px;
    width: 90%;
    margin-bottom: 4px;
}

.itemBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media print {
    header,
    .searchbar,
    footer,
    .excludePrint {
        display: none;
    }

    @page {
        margin: 0;
        size: A4;
        /*margin: 10px*/
    }

    .printBackground {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .characterDetails {
        max-width: 100vw;
    }

    .pageBreakAfter {
        page-break-after: always;
    }

}
