main {
    height: 95vh;
}

.encyclopediaBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 60vw;
    align-content: center;
    justify-content: center;
}

h1 {
    margin-bottom: -12px;
    margin-top: 12px;
}