.tileBody {
    display: flex;
    flex-direction: column;
    background-color: #35061B;
    width: 15vw;
    align-content: center;
    align-items: center;
    height: 25vh;
}

h2 {
    align-content: center;
    font-size: xx-large;
    color: white;
}

.tileImg {
    width: 10vw;
}