.creatorBody{
    height: 90vh;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.boxTitle {
    display: flex;
    justify-content: center;
}

.statBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #35061B;
    gap: 8px;
}

.radios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.statSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 95px;
    margin-bottom: 20px;
}

.manualDigiExtra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
