
.searchbar {
    height: 5vh;
    background-color: #35061B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    position: absolute;
}

.searchForm {
    display: flex;
}

.searchFormInput {
    border-radius: 20px 0 0 20px;
    border: transparent;
    background-color: white;
    color: black;
    height: 35px;
    padding-left: 20px;
}

.submitButton {
    border: none;
    height: 35px;
    margin-right: 20px;
}