header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #260414;
    width: 99vw;
    height: 5vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    padding-right: 12px;
    gap: 12px;
}

.loginButtons {
    display: flex;
    gap: 16px;
}

.active-menu-link{
    border-bottom: 2px solid #E6AF2E ;
    color: #E6AF2E;
    text-decoration: none;
}

.default-menu-link{
    border-bottom: 2px solid transparent ;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.loginButtons .active-menu-link{
    border: 2px solid white ;
    background: #E6AF2E;
    text-decoration: underline;
    padding: 4px 16px;
    color: white;
}

.loginButtons .default-menu-link{
    border: 2px solid white ;
    background: #E6AF2E;
    text-decoration: none;
    padding: 4px 16px;
    color: white;
    font-size: 1em;
}

p {
    margin-left: 12px;
}