.homepageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    min-width: 60vw;
}

p {
    color: white;
}



h1 {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

h2 {
    text-underline: white;
    font-size: 35px;
}

ul {
    padding-left: 35px;
    color: white;
}

.sectionCards {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: #35061B;
    align-content: center;
    text-align: center;
    padding: 10px;
    width: 25vw;
    height: 60vh;
}